{% extends 'base.html.twig' %}

{% block title %}{{ 'title.comment_delete'|trans({'%id%': comment.id|default('')}) }}{% endblock %}
{% block body %}
    <h1>{{ 'title.comment_delete'|trans({'%id%': comment.id|default('')}) }}</h1>

    {{ form_start(form) }}

    {# Iterate through each form field to make them read-only #}
    {% for field in form %}
        {{ form_row(field, {'attr': {'readonly': 'readonly'}}) }}
    {% endfor %}

    <div class="form-group row float-sm-right">
        <input type="submit" value="{{ 'action.delete'|trans }}" class="btn btn-dark"/>
    </div>
    <div class="form-group row float-sm-left">
        <a href="{{ path('book_show', { 'id': book.id }) }}" class="btn btn-outline-secondary">
            {{ 'action.back_to_list'|trans }}
        </a>
    </div>

    {{ form_end(form) }}
{% endblock %}
