{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.book_details'|trans({'%id%': book.id|default('')}) }}
{% endblock %}

{% block body %}
    <div class="text-muted h4 m-3">
        {{ 'title.book_details'|trans({'%id%' : book.id | default('')}) }}
    </div>
    {% if book is defined and book|length %}
        <dl class="dl-horizontal">
            <div class="row">
                <dt class="col-sm-1">{{ 'label.title'|trans }}</dt>
                <dd class="col-sm-11">{{  book.title }}</dd>
                <dt class="col-sm-1">{{ 'label.author'|trans }}</dt>
                <dd class="col-sm-11 mb-3">{{  book.author }}</dd>
                <dt class="col-sm-1">{{ 'label.releaseYear'|trans }}</dt>
                <dd class="col-sm-11">{{ book.releaseYear|format_date('long') }}</dd>
                <dt class="col-sm-1">{{ 'label.description'|trans }}</dt>
                <dd class="col-sm-11">{{  book.description }}</dd>
            </div>
            <hr style="color: #00598e;">
            <div class="row">
                <dt class="col-sm-1">{{ 'label.category'|trans }}</dt>
                <dd class="col-sm-11">{{  book.category.title }}</dd>
                <dt class="col-sm-1">{{ 'label.creator_nickname'|trans }}</dt>
                <dd class="col-sm-11 mb-3">{{  book.creator.nickname }} &bull; id #{{  book.creator.id }}</dd>
                <dt class="col-sm-1">{{ 'label.created_at'|trans }}</dt>
                <dd class="col-sm-11">{{ book.createdAt|format_date('long') }}</dd>
                <dt class="col-sm-1">{{ 'label.updated_at'|trans }}</dt>
                <dd class="col-sm-11">{{ book.updatedAt|format_date('long') }}</dd>
            </div>
        </dl>

        <ul class="list-inline">
            <li class="list-inline-item">
                <a class="btn btn-outline-secondary" href="{{ url('book_index') }}" title="{{ 'action.back_to_list'|trans }}">
                {{ 'action.back_to_list'|trans }}
                </a>
            </li>
            <li class="list-inline-item">
                <a class="btn btn-outline-primary" href="{{ url('comment_add', {id: book.id}) }}" class="btn btn-primary">
                {{ 'action.comment'|trans }}
                </a>
            </li>
        </ul>
        {% if comment_form is defined and comment_form is not null %}
            {{ form_start(comment_form, {'action': path('comment_add', {'id': book.id})}) }}
            {{ form_widget(comment_form) }}
            <button class="btn btn-outline-success mb-3">{{ 'action.comment'|trans }}</button>
            {{ form_end(comment_form) }}
        {% endif %}

        {% if comments is defined and comments %}
            {% for comment in comments.items %}
                <div class="d-flex justify-content-between border rounded border-secondary p-3 mb-2">
                    <div>
                        <span class="fw-bold">{{ comment.nickname }}</span> &bull; <span>{{ comment.createdAt|format_date('long') }}</span>
                        <div>{{ comment.content }}</div>
                    </div>
                    {% if is_granted('ROLE_ADMIN') %}
                        <div class="flex-row-reverse">
                            <a href="{{ url('comment_delete', {id: comment.id}) }}" class="btn btn-outline-danger">{{ 'action.delete'|trans }}</a>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}

            <div class="navigation text-center">
                {{ knp_pagination_render(comments) }}
            </div>
        {% else %}
            {{ 'message.no_comments'|trans }}
        {% endif %}
    {% else %}
        <p>
            {% include 'default/_single_alert_message.html.twig' with {
                type: 'warning',
                message: 'message.empty_list'|trans
            }
            %}
        </p>
    {% endif %}
{% endblock %}