{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.book_details'|trans({'%id%': book.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.book_details'|trans({'%id%': book.id|default('')}) }}</h1>
    {% if book is defined and book|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'label.id'|trans }}</dt>
            <dd>{{ book.id }}</dd>
            <dt>{{ 'label.created_at'|trans }}</dt>
            <dd>{{ book.createdAt|format_date('long') }}</dd>
            <dt>{{ 'label.updated_at'|trans }}</dt>
            <dd>{{ book.updatedAt|format_date('long') }}</dd>
            <dt>{{ 'label.releaseYear'|trans }}</dt>
            <dd>{{ book.releaseYear|format_date('long') }}</dd>
            <dt>{{ 'label.author'|trans }}</dt>
            <dd>{{  book.author }}</dd>
            <dt>{{ 'label.title'|trans }}</dt>
            <dd>{{  book.title }}</dd>
            <dt>{{ 'label.description'|trans }}</dt>
            <dd>{{  book.description }}</dd>
            <dt>{{ 'label.category'|trans }}</dt>
            <dd>{{  book.category.title }}</dd>
            <dt>{{ 'label.creator'|trans }}</dt>
            <dd>{{  book.creator.id }}</dd>
        </dl>

        <p>
            <a class="btn btn-outline-primary" href="{{ url('book_index') }}" title="{{ 'action.back_to_list'|trans }}">
                {{ 'action.back_to_list'|trans }}
            </a>
            <a class="btn btn-outline-primary" href="{{ url('comment_add', {id: book.id}) }}" class="btn btn-primary">
                {{ 'action.comment'|trans }}
            </a>
        </p>
        {% if comment_form is defined and comment_form is not null %}
            {{ 'title.comment_add'|trans }}
            {{ form_start(comment_form, {'action': path('comment_add', {'id': book.id})}) }}
            {{ form_widget(comment_form) }}
            <button class="btn btn-outline-success">{{ 'action.comment'|trans }}</button>
            {{ form_end(comment_form) }}
        {% endif %}

        {% if comments is defined and comments %}
            {% for comment in comments.items %}
                <div class="border square p-3 mb-2">
                    <span class="fw-bold">{{ comment.nickname }}</span> &bull; <span>{{ comment.createdAt|format_date('long') }}</span>
                    <div>{{ comment.content }}</div>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ url('comment_delete', {id: comment.id}) }}" class="btn btn-outline-danger">{{ 'action.delete'|trans }}</a>
                    {% endif %}
                </div>
            {% endfor %}

            <div class="navigation text-center">
                {{ knp_pagination_render(comments) }}
            </div>
        {% else %}
            {{ 'message.no_comments'|trans }}
        {% endif %}
    {% else %}
        <p>
            {% include 'default/_single_alert_message.html.twig' with {
                type: 'warning',
                message: 'message.empty_list'|trans
            }
            %}
        </p>
    {% endif %}
{% endblock %}